<body>
	<div class="topAling">
		<div class="row"> 
			<div class="col-100">
				<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
			</div>
		</div>

		<!--EPIEZA EL STRACTO DEL TEXTO-->
		<br/>
		<div class="row indexCOntenMain">
			<div class="col-10 text_center "></div>
			<div class="col-80 font_body padding_aling_text_right">

				<h1>Who are we?</h1>

				<br/>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p> 

				<br/>

				<div class="row">
					<div class="col-25">
						<div class="card facebook-card">
							<div class="card-header no-border">
								<div class="facebook-name">Image</div>
								<div class="facebook-date"></div>
							</div>

							<div class="card-content">
								<img src="http://lorempixel.com/400/200/animals" width="100%">
							</div>
						</div>
					</div>
					<div class="col-25">
						<div class="card facebook-card">
							<div class="card-header no-border">
								<div class="facebook-name">Image</div>
								<div class="facebook-date"></div>
							</div>

							<div class="card-content">
								<img src="http://lorempixel.com/400/200/animals" width="100%">
							</div>
						</div>
					</div>
					<div class="col-25">
						<div class="card facebook-card">
							<div class="card-header no-border">
								<div class="facebook-name">Image</div>
								<div class="facebook-date"></div>
							</div>

							<div class="card-content">
								<img src="http://lorempixel.com/400/200/animals" width="100%">
							</div>
						</div>
					</div>
					<div class="col-25">
						<div class="card facebook-card">
							<div class="card-header no-border">
								<div class="facebook-name">Image</div>
								<div class="facebook-date"></div>
							</div>

							<div class="card-content">
								<img src="http://lorempixel.com/400/200/animals" width="100%">
							</div>
						</div>
					</div>
				</div>

				<h1>History</h1>

				<p>
					Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.

				</p>

			</div>
			<div class="col-10"></div>
		</div>

		<!--IMAGENES DE LOS FUNDADORES-->
		<div class="row contribuyentes indexCOntenMain">
			<div class="col-30"></div>
			<div class="col-20">
				<img src="https://maxcdn.icons8.com/Android_L/PNG/512/Operating_Systems/mac_os-512.png"class="width100"/>
			</div>
			<div class="col-30">
				<img src="static/tesla.png" class="width100"/>
			</div>
			<div class="col-20"></div>
		</div>

		<br/>
		
		<!--START FOOTER-->
		<div class="row body-dark text_white">
			<div class="col-10"></div>
			<div class="col-80">
				<div class="row white_color_text_special">
					<div class="col-auto">
						<h1>Do you want to know more?</h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>

						<br/>

						<h6>Telephone xx-xxxx-xxxx</h6>
						<h6>Email: example@mail.com</h6>
						<h6>Direction: Av: Lorem Col: Ipsum St.: Dolorus</h6>
					</div>
					<div class="col-auto"></div>
					<div class="col-auto">
						<h1>Know more about us</h1>
						<ul class="no_listStyle">
							
							<br/>
							<li>	
								<a href=""> What do we do? </a>
							</li>
							<br/>
							<li>
								<a href=""> Achievements </a>
							</li>
							<br/>
							<li>
								<a href="#" style="color: white; width: 60%;" id="nav_donacion" class="button tab-link demo destilados body-dark subheading donaciones border_radius_nav_buttons donation_button">I want to help</a>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			<div class="col-10"></div>
		</div>



		<br/>
		<tr>
			<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
				padding-top: 25px;" class="social-icons"><table
				width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
				<tr>

					<!-- ICON 1 -->
					<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
						href=""
					style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
						color: #000000;"
						alt="F" title="Facebook"
						width="44" height="44"
						src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png"></a></td>

					<!-- ICON 2 -->
					<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
						href=""
					style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
						color: #000000;"
						alt="T" title="Twitter"
						width="44" height="44"
						src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png"></a></td>					

					<!-- ICON 4 -->
					<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
						href=""
					style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
						color: #000000;"
						alt="I" title="Instagram"
						width="44" height="44"
						src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png"></a></td>

				</tr>
				</table>
			</td>
		</tr>

		
	</div>
</body>