<div class="page-content infinite-scroll">
	<div class="row esto_esta_mal_pero_es_emergencia"> 
		<div class="col-100">
			<img src="static/Inspira.jpeg" style="width:100%;"/>
		</div>
	</div>
    <div class="scrollmenu">
	<div class="row position_contacto">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>Join us</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
        <div class="col-10"></div>
	
    <div class="row">
    <div class="col-50">  
      <div class="row margin_130px_top">
		<div class="col-10"></div>
		<div class="col-80">
			<h1>Do you want to know more?</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		</div>
        </div>
        </div>
	 <div class="col-50">
	<div class="row toClose_withe margin_130px_top">
		<div class="col-55">
      <div class="content-block-title">Contact us</div>
        <div class="list-block">
          <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Name</div>
                    <div class="item-input">
                      <input id="name" type="text" placeholder="Name"/>
                    </div>
                  </div>
                </div>
              </li>
             
                <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Last Name</div>
                    <div class="item-input">
                      <input id="apellido" type="text" placeholder="Last Name"/>
                    </div>
                  </div>
                </div>
              </li>
                
                <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">I am</div>
                          <select name="profesion">
                              <option value="estudiante">Student</option>
                              <option value="ing_civil">Civil Engineer</option>
                              <option value="arq">Architect</option>
                              <option value="ing_elect">Civil Engineer</option>
                              <option value="medico">Doctor</option>
                              <option value="psycho">Psychologist</option>
                              <option value="ing_indust">Industrial Engineer</option>
                              <option value="rescue">Rescuer</option>
                              <option value="comunicar">Communicator</option>
                          </select>
                    </div> 
                  </div>
              </li>
                
                 <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Direction</div>
                    <div class="item-input">
                      <input id="adress" type="text" placeholder="Direction"/>
                    </div>
                  </div>
                </div>
              </li>
                
                 <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Postal Code</div>
                    <div class="item-input">
                      <input id="cp" type="text" placeholder="PC (Optional)"/>
                    </div>
                  </div>
                </div>
              </li>
                
                <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Mobile</div>
                    <div class="item-input">
                      <input id="mobile" type="text" placeholder="xx-xxxx-xxxx"/>
                    </div>
                  </div>
                </div>
              </li>
                
                <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Telephone</div>
                    <div class="item-input">
                      <input id="phone" type="text" placeholder="Telephone (Optional)"/>
                    </div>
                  </div>
                </div>
              </li>
                
                <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Country</div>
                          <select name="Pais">
                              <option value="mexico">Mexico</option>
                              <option value="eeuu">USA</option>
                              <option value="chile">Chile</option>
                              <option value="peru">Peru</option>
                              <option value="venezuela">Venezuela</option>
                              <option value="canada">Canada</option>
                              <option value="argentina">Argentina</option>
                              <option value="paraguay">Paraguay</option>
                              <option value="uruguay">Uruguay</option>
                              <option value="colombia">Colombia</option>
                          </select>
                    </div> 
                  </div>
              </li>
                    
                <li>
                  <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">E-mail</div>
                    <div class="item-input">
                      <input id="mail" type="email" placeholder="example@mail.com"/>
                    </div>
                  </div>
                </div>
              </li>
                
                
              <li>
                <div class="row">
                  <div class="col-100">
                    <a href="#" class="button submit_button_contacto modalAlert">Submit</a>
                  </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    </div>
    </div>




  <br/>

  <!--START FOOTER-->
    <div class="row body-dark text_white" style="
    width: 100%;">
      <div class="col-10"></div>
      <div class="col-80">
        <div class="row white_color_text_special">
          <div class="col-auto">
            <h1>Do you want to know more?</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>

            <br/>

            <h6>Telephone: xx-xxxx-xxxx</h6>
            <h6>Email: example@mail.com</h6>
            <h6>Direction: Av: Lorem Col: Ipsum St.: Dolorus</h6>
          </div>
          <div class="col-auto"></div>
          <div class="col-auto">
            <h1>Know more about us</h1>
            <ul class="no_listStyle">
              <br/>
              <li>  
                <a href=""> What do we do? </a>
              </li>
              <br/>
              <li>
                <a href=""> Achievements </a>
              </li>
              <br/>
              <li>
                <a href="#" style="color: white; width: 60%;" id="nav_donacion" class="button tab-link demo destilados body-dark subheading donaciones border_radius_nav_buttons donation_button">I want to help</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col-10"></div>
    </div>

  
</div>