<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>
    <div class="page">
    <div >

    <div class="scrollmenu">
	<div class="row position_contacto">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>Contacto</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
        <div class="col-10"></div>
	
    <div class="row">
    <div class="col-50">  
      <div class="row margin_130px_top">
		<div class="col-10"></div>
		<div class="col-80">
			<h1>¿Quieres conocer más?</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		</div>
        </div>
        </div>
	 <div class="col-50">
	<div class="row toClose_withe margin_130px_top">
		<div class="col-55">
        <div class="content-block-title">Contactanos</div>
<div class="list-block">
  <ul>
    
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Nombre</div>
          <div class="item-input">
            <input type="text" placeholder="">
          </div>
        </div>
      </div>
    </li>
   
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Apellido</div>
          <div class="item-input">
            <input type="text" placeholder="">
          </div>
        </div>
      </div>
    </li>
      
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Teléfono</div>
          <div class="item-input">
            <input type="text" placeholder="">
          </div>
        </div>
      </div>
    </li>
      
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">Pais</div>
        
                <select name="Pais">
                    <option value="mexico">México</option>
                    <option value="eeuu">EEUU</option>
                    <option value="chile">Chile</option>
                    <option value="peru">Perú</option>
                    <option value="venezuela">Venezuela</option>
                    <option value="canada">Canada</option>
                    <option value="argentina">Argentina</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="colombia">Colombia</option>
                </select>
          </div>          
        </li>
          
      <li>
        <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">E-mail</div>
          <div class="item-input">
            <input type="email" placeholder="">
          </div>
        </div>
      </div>
    </li>
      
      
    <li>
      <div class="row">
  <div class="col-50">
    <a href="#" class="button button-big submit_button_contacto">Enviar</a>
  </div>
      </li>
		
	
    </div>
        </div>
    </div>
         </div>
</div>