<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>


	<div class="row position_news">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>Noticias</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <div class="col-10"></div>
	</div>
    
<div class="col-10"></div>
    <div class="content-block-title">Lo más reciente</div>
   <div class="col-10"></div>
    
    
  <div class="timeline timeline-sides">  
  <div class="timeline-item">
    <div class="timeline-item-date">21 <small>DEC</small></div>
    <div class="timeline-item-divider"></div>
    <div class="timeline-item-content">
      <div class="timeline-item-inner elemento_noticia">Noticia 1</div>
    </div>
  </div>
      
  <div class="timeline-item">
    <div class="timeline-item-date">22 <small>DEC</small></div>
    <div class="timeline-item-divider"></div>
    <div class="timeline-item-content">
      <div class="timeline-item-inner elemento_noticia">Noticia 2</div>
    </div>
  </div>
      
  <div class="timeline-item">
    <div class="timeline-item-date">23 <small>DEC</small></div>
    <div class="timeline-item-divider"></div>
    <div class="timeline-item-content">
      <div class="timeline-item-inner elemento_noticia">Noticia 3</div>
    </div>
  </div>
      
  <div class="timeline-item">
    <div class="timeline-item-date">24 <small>DEC</small></div>
    <div class="timeline-item-divider"></div>
    <div class="timeline-item-content">
      <div class="timeline-item-inner elemento_noticia">Noticia 4</div>
    </div>
  </div>
</div>



</div>