<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;" />
		</div>
	</div>

	<div class="row position_logros">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>Logros</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-10"></div>
	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/sports)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/nature)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/technics)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/people)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
     <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/sports)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/abstract)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/technics)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/transport)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/cats)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/animals)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/food)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/sports)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/nature)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/technics)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(http://lorempixel.com/1000/400/transport)" valign="bottom" class="card-header color-white no-border logros_cards_image heg_180px"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Logro #</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>