<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;" />
		</div>
	</div>

	<div class="row position_logros">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>Achievements</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-10"></div>
	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/casa_3D.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>3D House Model</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/bano.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Moodboard: Bathroom</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/fachada.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Moodboard: Facade</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/habitacion.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Moodboard: Restroom</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
     <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/sala.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Moodboard: Living Room</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/brigada.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Brigade helping after the earthquake of Sep. 19th 2017</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/thinking.jpeg)" valign="bottom"  class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Thinking</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/happy.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Designing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/cocina.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>Moodboard: Kitchen</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/casa1.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>House Show 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/casa2.jpg)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>House Show 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/brick.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>CAD Model of the Brick</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
	

	</div>
    
    <div class="row toClose_withe margin_0px_top">

		<div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/logo2.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>NovoCalli #PonteTrucha</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>

        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/logo3.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>CenCalli #Chinelizate</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/logo4.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content blue_card">
    <div class="card-content-inner">
        <h3>TalaCalli #DePuebloAPuebla</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
        
        <div class="col-25 text-center">
			<div class="card demo-card-header-pic">
  <div style="background-image:url(static/cimientos.png)" valign="bottom" class="card-header color-white no-border logros_cards_image logros_images logros_contain_image_perfec_center"></div>
  <div class="card-content green_card">
    <div class="card-content-inner">
        <h3>Foundation Sketch</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.</p>
    </div>
  </div>
		</div>
        </div>
    </div>
    

  <!--START FOOTER-->
    <div class="row body-dark text_white" style="width: 100%;">
      <div class="col-10"></div>
      <div class="col-80">
        <div class="row white_color_text_special">
          <div class="col-auto">
            <h1>Do you want to know more?</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>

            <br/>

            <h6>Telephone: xx-xxxx-xxxx</h6>
            <h6>Email: example@mail.com</h6>
            <h6>Direction: Av: Lorem Col: Ipsum St.: Dolorus</h6>
          </div>
          <div class="col-auto"></div>
          <div class="col-auto">
            <h1>Know more about us</h1>
            <ul class="no_listStyle">
              
              <br/>
              <li>  
                <a href=""> What do we do? </a>
              </li>
              <br/>
              <li>
                <a href=""> Achievements </a>
              </li>
              <br/>
              <li>
                <a href="#" style="color: white; width: 60%;" id="nav_donacion" class="button tab-link demo destilados body-dark subheading donaciones border_radius_nav_buttons donation_button">I want to help</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col-10"></div>
    </div>


    <!-- SOCIAL NETWORKS -->
    <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
    <br/>
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
        padding-top: 25px;" class="social-icons"><table
        width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
        <tr>

          <!-- ICON 1 -->
          <td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
            href=""
          style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
            color: #000000;"
            alt="F" title="Facebook"
            width="44" height="44"
            src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png"></a></td>

          <!-- ICON 2 -->
          <td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
            href=""
          style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
            color: #000000;"
            alt="T" title="Twitter"
            width="44" height="44"
            src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png"></a></td>       

             

          <!-- ICON 4 -->
          <td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
            href=""
          style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
            color: #000000;"
            alt="I" title="Instagram"
            width="44" height="44"
            src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png"></a></td>

        </tr>
        </table>
      </td>
    </tr>

	</div>