<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>


	<div class="row position_quehacemos">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>¿Que hacemos?</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-10"></div>
	</div>

	<!--CUERPO DINAMOCO DEL DOM-->
	<br/>

	<div class="row margin_130px_top">
		<div class="col-10"></div>
		<div class="col-auto">
			<h1>Mision:</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		</div>
		<div class="col-auto">
			<h1>Vision:</h2> 
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		</div>
		<div class="col-10"></div>
	</div>
	<div class="row toClose_withe margin_130px_top min_heigth_600px">

		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card1" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 1
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card2" class="open-popover">
				<div class="card">
					<div class="card-content">
						<ul class="no_listStyle">
							<li>
								<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
							</li>
							<li>
								Card 2
							</li>
						</ul>
					</div>
				</div>
			</a>
		</div>

		
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card3" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 3
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card4" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 4
								</li>
							</ul>
							
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card5" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 5
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card6" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 6
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card7" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 7
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card8" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="https://dummyimage.com/600x400/000/fff&text=ICONO" class="iconCard_abou_position"/>
								</li>
								<li>
									Card 8
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="row margin_130px_top">
		<div class="col-25">
			<div style="background-image:url(https://dummyimage.com/600x400/873434/ffffff&text=ICONO)" valign="bottom" class="card-header color-white no-border">Lorem Ipsum Dolorus</div>

			<div class="card-content">
				<div class="card-content-inner">
					<p class="color-gray">Posted on January 21, 2015</p>
      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
				</div>
			</div>

			<div class="card-footer">
			</div>
		</div>
		<div class="col-25">

			<div style="background-image:url(https://dummyimage.com/600x400/873434/ffffff&text=ICONO)" valign="bottom" class="card-header color-white no-border">Lorem Ipsum Dolorus</div>

			<div class="card-content">
				<div class="card-content-inner">
					<p class="color-gray">Posted on January 21, 2015</p>
      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
				</div>
			</div>

			<div class="card-footer">
			</div>

		</div>
		<div class="col-25">
			<a href="" class="dona">
				<div style="background-image:url(https://dummyimage.com/600x400/873434/ffffff&text=ICONO)" valign="bottom" class="card-header color-white no-border">Lorem Ipsum Dolorus</div>

				<div class="card-content">
					<div class="card-content-inner">
						<p class="color-gray">Posted on January 21, 2015</p>
	      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
					</div>
				</div>

				<div class="card-footer">
				</div>
			</a>

		</div>
		<div class="col-25"></div>
	</div>

	<!--DATAS POPOVERS-->

	<div class="popover popover-card1">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card2">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card3">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card4">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card5">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card6">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card7">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card8">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>


</div>