<div>
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>


	<div class="row position_quehacemos">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>¿Que hacemos?</h1>
					</div>
					<div class="text-center font_20px">
						Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-10"></div>
	</div>

	<!--CUERPO DINAMOCO DEL DOM-->
	<br/>
	<div class="row toClose_withe margin_130px_top">
		<div class="col-25">First block</div>
		<div class="col-25">Second Block</div>
		<div class="col-25">Third Block</div>
		<div class="col-25">Fourt Block</div>
	</div>

</div>