<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>


	<div class="row">
	<div class="col-10"></div>
	<div class="col-80">
		<div class="card">
			<div class="card-content">
				<div class="card-content-inner">
					<div class="text-center">
						<h1>¿Que hacemos?</h1>
					</div>
					<div class="text-center font_20px">
						Pare el 2025, el 70% de las comunidades rurales de la zona céntrica de México (Guerrero, Michoacan, Cd.Mexico, Edo. México, Puebla, Veracruz, Queretaro, Hidalgo) centrarán con un hogar digno y sustentable, Continuando con la recaudación de fondos y voluntariado para llevar la ayuda a todo el país.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-10"></div>
	</div>

	<!--CUERPO DINAMOCO DEL DOM-->
	<br/>

	<div class="row marg_top_aline_100px">
		<div class="col-10"></div>
		<div class="col-auto">
			<h1>Mision:</h1>
			<p>Asegurar la resconstrución de hogares y el diseño de nuevas viviendas a aquellas personas/familias que los requieran, proveyendoles los conocimientos que garanticen su autosuficiencia. Así como promover el cumplimiento del derecho de tener un hogar digno para la unificacion de México</p>
		</div>
		<div class="col-auto">
			<h1>Vision:</h2> 
			<p>Pare el 2025, el 70% de las comunidades rurales de la zona céntrica de México (Guerrero, Michoacan, Cd.Mexico, Edo. México, Puebla, Veracruz, Queretaro, Hidalgo) centrarán con un hogar digno y sustentable, Continuando con la recaudación de fondos y voluntariado para llevar la ayuda a todo el país</p>
		</div>
		<div class="col-10"></div>
	</div>
	<div class="row toClose_withe marg_top_aline_100px">

		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card1" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="static/casa.png" class="iconCard_abou_position width_100porcent heg_300px"/>
								</li>
								<br/>
								<li>
									Card 1
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card2" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="static/cor.png" class="iconCard_abou_position width_100porcent heg_300px"/>
								</li>
								<br/>
								<li>
									Card 2
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>

		
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card3" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="static/rel.png" class="iconCard_abou_position width_100porcent heg_300px"/>
								</li>
								<br/>
								<li>
									Card 3
								</li>
							</ul>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-25 text-center">
			<a href="" data-popover=".popover-card4" class="open-popover">
				<div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<ul class="no_listStyle">
								<li>
									<img src="static/hum.png" class="iconCard_abou_position width_100porcent heg_300px"/>
								</li>
								<br/>
								<li>
									Card 4
								</li>
							</ul>
							
						</div>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="row marg_top_aline_100px">
		<div class="col-25">
			<div style="background-image:url(http://lorempixel.com/600/400/nature/)" valign="bottom" class="card-header color-white no-border height_200px">Lorem Ipsum Dolorus</div>

			<div class="card-content">
				<div class="card-content-inner">
					<p class="color-gray">Posted on January 21, 2015</p>
      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
				</div>
			</div>

			<div class="card-footer">
			</div>
		</div>
		<div class="col-25">

			<div style="background-image:url(http://lorempixel.com/600/400/nature/)" valign="bottom" class="card-header color-white no-border height_200px">Lorem Ipsum Dolorus</div>

			<div class="card-content">
				<div class="card-content-inner">
					<p class="color-gray">Posted on January 21, 2015</p>
      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
				</div>
			</div>

			<div class="card-footer">
			</div>

		</div>



		<div class="col-25">
			<a href="" class="dona">
				<div style="background-image:url(http://lorempixel.com/600/400/nature/)" valign="bottom" class="card-header color-white no-border height_200px">Lorem Ipsum Dolorus</div>

				<div class="card-content">
					<div class="card-content-inner">
						<p class="color-gray">Posted on January 21, 2015</p>
	      				<p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
					</div>
				</div>

				<div class="card-footer">
				</div>
			</a>

		</div>
		<div class="col-25"></div>
	</div>

	<!--DATAS POPOVERS-->

	<div class="popover popover-card1">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card2">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card3">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card4">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>

	<div class="popover popover-card5">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card6">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card7">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>
	<div class="popover popover-card8">
		<div class="popover-inner">
			<div class="content-block">
				<p>About</p>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
			</div>
		</div>
	</div>


	<!--IMAGENES DE LOS FUNDADORES-->
	<div class="row contribuyentes indexCOntenMain">
		<div class="col-100 title_font_special titleContribuyentes">
			Nuestros Socios
		</div>
		<br/>
		<div class="col-30"></div>
		<div class="col-20">
			<img src="https://maxcdn.icons8.com/Android_L/PNG/512/Operating_Systems/mac_os-512.png"class="width100"/>
		</div>
		<div class="col-30">
			<img src="https://maxcdn.icons8.com/Share/icon/win10/Logos//tesla_logo1600.png" class="width100"/>
		</div>
		<div class="col-20"></div>
	</div>



	<!-- SOCIAL NETWORKS -->
	<!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
	<br/>
	<tr>
		<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="social-icons"><table
			width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
			<tr>

				<!-- ICON 1 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="F" title="Facebook"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png"></a></td>

				<!-- ICON 2 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="T" title="Twitter"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png"></a></td>				

				<!-- ICON 3 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="G" title="Google Plus"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/googleplus.png"></a></td>		

				<!-- ICON 4 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="I" title="Instagram"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png"></a></td>

			</tr>
			</table>
		</td>
	</tr>


</div>