<div class="page-content infinite-scroll">
	<div class="row aline_emergecy"> 
		<div class="col-100">
			<div class="swiper-container swiper-1">
				<div class="swiper-wrapper wrapper_hgt">
				  <div class="swiper-slide">
				  	<center><img src="static/h1.jpeg" class="width_100porcent" /></center>	
				  </div>
			      <div class="swiper-slide">
			      	<center> <img src="static/h2.jpeg" class="width_100porcent"/></center>
			      </div>
			      <div class="swiper-slide">
			      	<center> <img src="static/h3.jpeg" class="width_100porcent"/></center>
			      </div>
			      <div class="swiper-slide">
			      	<center> <img src="static/h5.jpeg" class="width_100porcent"/></center>
			      </div>
			      <div class="swiper-slide">
			      	<center> <img src="static/h6.jpeg" class="width_100porcent"/></center>
			      </div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>

	<!--START TEXTO DE AYUDA Y MOTIVACION-->
	<div>
	<div class="row">

		<div class="col-10"></div>
		<div class="col-80">
			<h1 class="text_center blue_color_text_title">Mexico needs your help</h1>

			<p class="text_justify font_size20">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
			</p>

		</div>
		<div class="col-10"></div>

	</div>

	</div>

	<!--START CARD PARA DONAR-->

	<div class="row toClose_withe">
		<div class="col-33"></div>
		<div class="col-33">
			<div class="content-block-title">1. Donate us</div>
			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">
						<p class="buttons-row">
						  <a id="100" href="#" class="button special_setinel_active sentinel">$100</a>
						  <a id="200" href="#" class="button sentinel">$200</a>
						  <a id="500" href="#" class="button sentinel">$500</a>
						  <a id="otro" href="#" class="button sentinel">
						  	$ <input id="otro_placeholder" type="number" name="" placeholder="Other" class="no_Borders"/>
						  </a>
						</p>

						<p class="text_center">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
						</p>
					</div>
				</div>
			</div>

			<div class="content-block-title">2. Information</div>

			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">

						<div class="list-block">
							<ul>
								<li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Name</div>
							          <div class="item-input">
							            <input type="text" placeholder="Name">
							          </div>
							        </div>
							      </div>
							    </li>
							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Last Name</div>
							          <div class="item-input">
							            <input type="text" placeholder="Last Name">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Email</div>
							          <div class="item-input">
							            <input type="email" placeholder="Email">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Mobile</div>
							          <div class="item-input">
							            <input type="text" placeholder="xxxx-xxxx-xx">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Telephone</div>
							          <div class="item-input">
							            <input type="text" placeholder="Telephone (optional)">
							          </div>
							        </div>
							      </div>
							    </li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="content-block-title">3. I want to donate with:</div>
			
			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">

						<div class="list-block">
							<ul>
								<li class="creditCard">
							      <label class="label-radio item-content">
							        <!-- Checked by default -->
							        <input id="PayPal" type="radio" name="my-radio" value="Books" checked="checked">
							        <div class="item-media">
							          <i class="icon icon-form-radio"></i>
							        </div>
							        <div class="item-inner">
							          <div class="item-title">PayPal</div>
							        </div>
							      </label>
							    </li>

							    <li class="creditCard">
							      <label class="label-radio item-content">
							        <!-- Checked by default -->
							        <input id="" type="radio" name="my-radio" value="Books" checked="checked">
							        <div class="item-media">
							          <i class="icon icon-form-radio"></i>
							        </div>
							        <div class="item-inner">
							          <div class="item-title">Auto Service Store</div>
							        </div>
							      </label>
							    </li>

							    <li class="creditCard">

							      <label class="label-radio item-content">
							        <!-- Checked by default -->
							        <input id="credit" type="radio" name="my-radio" value="Books" checked="checked" class="creditCard">
							        <div class="item-media">
							          <i class="icon icon-form-radio"></i>
							        </div>
							        <div class="item-inner item-content item-link">
							          <div class="item-title">Credit Card</div>
							        </div>
							      </label>
							     
							    </li>

							    <li class="fadein hide">
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Name</div>
							          <div class="item-input">
							            <input type="text" placeholder="Card's Holder">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li class="fadein hide">
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Card Number</div>
							          <div class="item-input">
							            <input type="text" placeholder="Card Number">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li class="fadein hide">
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">CCV</div>
							          <div class="item-input">
							            <input type="text" placeholder="CVV">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li class="fadein text_center hide">Expiration Date</li>

							    <li class="fadein hide">
							      <div class="row">
							      	<div class="col-10"></div>
							      	<div class="col-40">
							      		<select>
							      			<option>Month</option>
							      			<option>January</option>
							      			<option>February</option>
							      			<option>March</option>
							      			<option>April</option>
							      			<option>May</option>
							      			<option>June</option>
							      			<option>July</option>
							      			<option>August</option>
							      			<option>September</option>
							      			<option>October</option>
							      			<option>November</option>
							      			<option>December</option>
							      		</select>
							      	</div>
							      	<div class="col-40">
							      		<select>
							      			<option>Year</option>
							      			<option>17</option>
							      			<option>18</option>
							      			<option>19</option>
							      			<option>20</option>
							      			<option>21</option>
							      			<option>22</option>
							      			<option>23</option>
							      			<option>24</option>
							      			<option>25</option>
							      			<option>26</option>
							      			<option>27</option>
							      			<option>28</option>
							      			<option>29</option>
							      			<option>30</option>
							      		</select>
							      	</div>
							      </div>
							    </li>

							    <li>
							    	<div class="row">
							    		<div class="col-10"></div>
								    	<div class="col-80">
								    		<p><a href="#" class="button button-round app_active_green acept">Be the change</a></p> 
								    	</div>
								    	<div class="col-10"></div>
							    	</div>
							    </li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="col-33"></div>
	</div>

	<br/>
	<tr>
		<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="social-icons"><table
			width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
			<tr>

				<!-- ICON 1 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="F" title="Facebook"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png"></a></td>

				<!-- ICON 2 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="T" title="Twitter"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png"></a></td>				
	

				<!-- ICON 4 -->
				<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;"><a target="_blank"
					href=""
				style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
					alt="I" title="Instagram"
					width="44" height="44"
					src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png"></a></td>

			</tr>
			</table>
		</td>
	</tr>
</div>