<div class="page-content infinite-scroll">
	<div class="row"> 
		<div class="col-100">
			<img src="http://lorempixel.com/1000/400/sports" style="width:100%;"/>
		</div>
	</div>

	<!--START TEXTO DE AYUDA Y MOTIVACION-->
	<div class="row">

		<div class="col-10"></div>
		<div class="col-80">
			<h1 class="text_center">Mas de cien mil mexicanos necesitan tu ayuda urgentemente</h1>

			<p class="text_justify font_size20">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
			</p>

		</div>
		<div class="col-10"></div>


		

	</div>

	<!--START CARD PARA DONAR-->

	<div class="row toClose_withe">
		<div class="col-33"></div>
		<div class="col-33">
			<div class="content-block-title">1. Quiero Donar</div>
			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">
						<p class="buttons-row">
						  <a id="100" href="#" class="button active sentinel">$100</a>
						  <a id="200" href="#" class="button sentinel">$200</a>
						  <a id="500" href="#" class="button sentinel">$500</a>
						  <a id="otro" href="#" class="button sentinel">
						  	$ <input type="number" name="" placeholder="Otra" class="no_Borders"/>
						  </a>
						</p>

						<p class="text_center">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
						</p>
					</div>
				</div>
			</div>

			<div class="content-block-title">2. Tus Datos</div>

			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">

						<div class="list-block">
							<ul>
								<li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Nombre</div>
							          <div class="item-input">
							            <input type="text" placeholder="Nombre">
							          </div>
							        </div>
							      </div>
							    </li>
							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Apellido</div>
							          <div class="item-input">
							            <input type="text" placeholder="Apellido">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">E-mail</div>
							          <div class="item-input">
							            <input type="email" placeholder="E-mail">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Telefono celular</div>
							          <div class="item-input">
							            <input type="text" placeholder="Telefono celular">
							          </div>
							        </div>
							      </div>
							    </li>

							    <li>
							      <div class="item-content">
							        <div class="item-inner">
							          <div class="item-title label">Telefono fijo</div>
							          <div class="item-input">
							            <input type="text" placeholder="Telefono fijo (opacional)">
							          </div>
							        </div>
							      </div>
							    </li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="content-block-title">3. Quiero donar con:</div>
			
			<div class="card">
				<div class="card-content">
					<div class="card-content-inner">

						<div class="list-block">
							<ul>
								<li>
							      <label class="label-radio item-content">
							        <!-- Checked by default -->
							        <input type="radio" name="my-radio" value="Books" checked="checked">
							        <div class="item-media">
							          <i class="icon icon-form-radio"></i>
							        </div>
							        <div class="item-inner">
							          <div class="item-title">PayPal</div>
							        </div>
							      </label>
							    </li>

							    <li class="accordion-item">

							    	<a href="#" ></a>
							      <label class="label-radio item-content">
							        <!-- Checked by default -->
							        <input type="radio" name="my-radio" value="Books" checked="checked">
							        <div class="item-media">
							          <i class="icon icon-form-radio"></i>
							        </div>
							        <div class="item-inner item-content item-link">
							          <div class="item-title">Tarjeta de Credito</div>
							        </div>
							      </label>
							      

							      <div class="accordion-item-content">
							        <div class="content-block">
							          <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
							        </div>
							      </div>
							    </li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="col-33"></div>
	</div>
</div>